任务2/保存参数,
任务2/保留图片
任务2/logs
任务2/.tmp.drivedownload
任务2/__pycache__
任务2/保留图片/1.png
任务2/保留图片/2.png
任务2/保留图片/3.png
任务2/保留图片/4.png
任务2/保留图片/5.png
任务2/保留图片/6.png
任务2/保留图片/7.png
任务2/保留图片/8.png
任务2/保留图片/9.png
任务2/保留图片/10.png
任务2/保存参数/model_scale=0.1.pth
任务2/保存参数/model_scale=0.2.pth
任务2/保存参数/model_scale=0.3.pth
任务2/保存参数/model_scale=0.4.pth
任务2/保存参数/model_scale=0.5.pth
任务2/保存参数/model_scale=0.6.pth
任务2/保存参数/model_scale=0.7.pth
任务2/保存参数/model_scale=0.8.pth
任务2/保存参数/model_scale=0.9.pth
任务2/.tmp.drivedownload/2823.1693786785195094
任务2/.tmp.drivedownload/2823.1693786838706976
任务2/.tmp.drivedownload/2823.1693786876580292
任务2/.tmp.drivedownload/2823.1693786932753482
任务2/.tmp.drivedownload/2823.1693786953697958
任务2/.tmp.drivedownload/2823.1693788505674698
任务2/.tmp.drivedownload/2823.1693788607578410
任务2/.tmp.drivedownload/2823.1693788633923886
任务2/.tmp.drivedownload/2823.1693788696050524
任务2/.tmp.drivedownload/2823.1693788792346026
任务2/.tmp.drivedownload/2823.1693788829484645
任务2/.tmp.drivedownload/2823.1693788901458399
任务2/.tmp.drivedownload/2823.1693788961397796
任务2/.tmp.drivedownload/2823.1693789015910835
任务2/.tmp.drivedownload/2823.1693789078780822
任务2/.tmp.drivedownload/2823.1693789117253960
任务2/.tmp.drivedownload/2823.1693789213444552
任务2/.tmp.drivedownload/2823.1693789274211967
任务2/.tmp.drivedownload/2823.1693789392571921
任务2/.tmp.drivedownload/2823.1693789801164422
任务2/.tmp.drivedownload/2823.1693790039732173
任务2/.tmp.drivedownload/2823.1693790071358674
任务2/.tmp.drivedownload/2823.1693790093369511
任务2/.tmp.drivedownload/2823.1693790161076815
任务2/.tmp.drivedownload/2823.1693790203064201
任务2/.tmp.drivedownload/2823.1693790288498889
任务2/.tmp.drivedownload/2823.1693790337625649
任务2/.tmp.drivedownload/2823.1693790360311635
任务2/.tmp.drivedownload/2823.1693791420160951
任务2/.tmp.drivedownload/2823.1693791645201896
任务2/.tmp.drivedownload/2823.1693804163948895
任务2/.tmp.drivedownload/2823.1693804368050422
任务2/.tmp.drivedownload/2823.1693804429240996
任务2/.tmp.drivedownload/2823.1693804571913670
任务2/.tmp.drivedownload/2823.1693805344804562
任务2/.tmp.drivedownload/2823.1693805518275151
任务2/.tmp.drivedownload/2823.1693805576423198
任务2/.tmp.drivedownload/2823.1693806020480349
任务2/.tmp.drivedownload/2823.1693806079713404
任务2/.tmp.drivedownload/2823.1693806113805511
任务2/.tmp.drivedownload/2823.1693807206712250
任务2/.tmp.drivedownload/2823.1693807464163649
任务2/__pycache__/get_rank_cpu_0904.cpython-310.pyc
任务2/__pycache__/get_rank_cpu_0904.cpython-311.pyc
任务2/__pycache__/get_rank_cpu.cpython-310.pyc
任务2/__pycache__/get_rank_gpu.cpython-310.pyc
任务2/__pycache__/load_dataset.cpython-311.pyc
任务2/logs/events.out.tfevents.1693970004.Jack-s-computer-Dell.16864.2
任务2/dataset_folder/cifar-10-python.tar.gz
任务2/logs-0911-LeNet/events.out.tfevents.1694429489.Jack-s-computer-Dell.26784.3
任务2/logs-0911-V2/events.out.tfevents.1694425268.Jack-s-computer-Dell.26784.0
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.1.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.2.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.3.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.4.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.5.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.6.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.7.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.8.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.9.pth
任务2/输出的数据/logs/0.1.csv
任务2/输出的数据/logs/0.2.csv
任务2/输出的数据/logs/0.3.csv
任务2/输出的数据/logs/0.4.csv
任务2/输出的数据/logs/0.5.csv
任务2/输出的数据/logs/0.6.csv
任务2/输出的数据/logs/0.7.csv
任务2/输出的数据/logs/combined_plot.png
任务2/输出的数据/logs/events.out.tfevents.1693970004.Jack-s-computer-Dell.16864.2
任务2/输出的数据/logs/events.out.tfevents.1694083421.Jack-s-computer-Dell.11172.0
任务2/输出的数据/logs-0911-LeNet/events.out.tfevents.1694429489.Jack-s-computer-Dell.26784.3
任务2/输出的数据/logs-0911-V2/events.out.tfevents.1694425268.Jack-s-computer-Dell.26784.0
任务2/输出的数据/logs-0911-only-LeNet/events.out.tfevents.1694432166.Jack-s-computer-Dell.26784.4
任务2/输出的数据/logs-MLP-RL/events.out.tfevents.1694445430.Jack-s-computer-Dell.28700.4
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.1.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.2.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.3.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.4.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.5.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.6.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.7.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.8.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.9.pth
任务2/输出的数据/保存参数/常规/model_scale=0.1.pth
任务2/输出的数据/保存参数/常规/model_scale=0.2.pth
任务2/输出的数据/保存参数/常规/model_scale=0.3.pth
任务2/输出的数据/保存参数/常规/model_scale=0.4.pth
任务2/输出的数据/保存参数/常规/model_scale=0.5.pth
任务2/输出的数据/保存参数/常规/model_scale=0.6.pth
任务2/输出的数据/保存参数/常规/model_scale=0.7.pth
任务2/输出的数据/保存参数/常规/model_scale=0.8.pth
任务2/输出的数据/保存参数/常规/model_scale=0.9.pth
任务2/输出的数据/保留图片/1.png
任务2/输出的数据/保留图片/1测试集中的最佳准确率和rank之间的关系.png
任务2/输出的数据/保留图片/2.png
任务2/输出的数据/保留图片/3.png
任务2/输出的数据/保留图片/4.png
任务2/输出的数据/保留图片/5.png
任务2/输出的数据/保留图片/6.png
任务2/输出的数据/保留图片/7.png
任务2/输出的数据/保留图片/8.png
任务2/输出的数据/保留图片/9.png
任务2/输出的数据/保留图片/10.png
任务2/输出的数据/保留图片/0907结果.pptx
任务2/输出的数据/保留图片/测试集中的最佳准确率和rank之间的关系.png
任务2/输出的数据/保留图片/加载数据.png
任务2/输出的数据/保留图片/加载数据.svg
任务2/输出的数据/保留图片/优化器.png
任务2/输出的数据/保留图片/combined_plot.png
任务2/输出的数据/保留图片/rank.png
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.1.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.2.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.3.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.4.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.5.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.6.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.7.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.8.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.9.pth
