任务2/保存参数,
任务2/保留图片
任务2/logs
任务2/.tmp.drivedownload
任务2/__pycache__
任务2/保留图片/1.png
任务2/保留图片/2.png
任务2/保留图片/3.png
任务2/保留图片/4.png
任务2/保留图片/5.png
任务2/保留图片/6.png
任务2/保留图片/7.png
任务2/保留图片/8.png
任务2/保留图片/9.png
任务2/保留图片/10.png
任务2/保存参数/model_scale=0.1.pth
任务2/保存参数/model_scale=0.2.pth
任务2/保存参数/model_scale=0.3.pth
任务2/保存参数/model_scale=0.4.pth
任务2/保存参数/model_scale=0.5.pth
任务2/保存参数/model_scale=0.6.pth
任务2/保存参数/model_scale=0.7.pth
任务2/保存参数/model_scale=0.8.pth
任务2/保存参数/model_scale=0.9.pth
任务2/.tmp.drivedownload/2823.1693786785195094
任务2/.tmp.drivedownload/2823.1693786838706976
任务2/.tmp.drivedownload/2823.1693786876580292
任务2/.tmp.drivedownload/2823.1693786932753482
任务2/.tmp.drivedownload/2823.1693786953697958
任务2/.tmp.drivedownload/2823.1693788505674698
任务2/.tmp.drivedownload/2823.1693788607578410
任务2/.tmp.drivedownload/2823.1693788633923886
任务2/.tmp.drivedownload/2823.1693788696050524
任务2/.tmp.drivedownload/2823.1693788792346026
任务2/.tmp.drivedownload/2823.1693788829484645
任务2/.tmp.drivedownload/2823.1693788901458399
任务2/.tmp.drivedownload/2823.1693788961397796
任务2/.tmp.drivedownload/2823.1693789015910835
任务2/.tmp.drivedownload/2823.1693789078780822
任务2/.tmp.drivedownload/2823.1693789117253960
任务2/.tmp.drivedownload/2823.1693789213444552
任务2/.tmp.drivedownload/2823.1693789274211967
任务2/.tmp.drivedownload/2823.1693789392571921
任务2/.tmp.drivedownload/2823.1693789801164422
任务2/.tmp.drivedownload/2823.1693790039732173
任务2/.tmp.drivedownload/2823.1693790071358674
任务2/.tmp.drivedownload/2823.1693790093369511
任务2/.tmp.drivedownload/2823.1693790161076815
任务2/.tmp.drivedownload/2823.1693790203064201
任务2/.tmp.drivedownload/2823.1693790288498889
任务2/.tmp.drivedownload/2823.1693790337625649
任务2/.tmp.drivedownload/2823.1693790360311635
任务2/.tmp.drivedownload/2823.1693791420160951
任务2/.tmp.drivedownload/2823.1693791645201896
任务2/.tmp.drivedownload/2823.1693804163948895
任务2/.tmp.drivedownload/2823.1693804368050422
任务2/.tmp.drivedownload/2823.1693804429240996
任务2/.tmp.drivedownload/2823.1693804571913670
任务2/.tmp.drivedownload/2823.1693805344804562
任务2/.tmp.drivedownload/2823.1693805518275151
任务2/.tmp.drivedownload/2823.1693805576423198
任务2/.tmp.drivedownload/2823.1693806020480349
任务2/.tmp.drivedownload/2823.1693806079713404
任务2/.tmp.drivedownload/2823.1693806113805511
任务2/.tmp.drivedownload/2823.1693807206712250
任务2/.tmp.drivedownload/2823.1693807464163649
任务2/__pycache__/get_rank_cpu_0904.cpython-310.pyc
任务2/__pycache__/get_rank_cpu_0904.cpython-311.pyc
任务2/__pycache__/get_rank_cpu.cpython-310.pyc
任务2/__pycache__/get_rank_gpu.cpython-310.pyc
任务2/__pycache__/load_dataset.cpython-311.pyc
任务2/logs/events.out.tfevents.1693970004.Jack-s-computer-Dell.16864.2
任务2/dataset_folder/cifar-10-python.tar.gz
任务2/logs-0911-LeNet/events.out.tfevents.1694429489.Jack-s-computer-Dell.26784.3
任务2/logs-0911-V2/events.out.tfevents.1694425268.Jack-s-computer-Dell.26784.0
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.1.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.2.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.3.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.4.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.5.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.6.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.7.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.8.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.9.pth
任务2/输出的数据/logs/0.1.csv
任务2/输出的数据/logs/0.2.csv
任务2/输出的数据/logs/0.3.csv
任务2/输出的数据/logs/0.4.csv
任务2/输出的数据/logs/0.5.csv
任务2/输出的数据/logs/0.6.csv
任务2/输出的数据/logs/0.7.csv
任务2/输出的数据/logs/combined_plot.png
任务2/输出的数据/logs/events.out.tfevents.1693970004.Jack-s-computer-Dell.16864.2
任务2/输出的数据/logs/events.out.tfevents.1694083421.Jack-s-computer-Dell.11172.0
任务2/输出的数据/logs-0911-LeNet/events.out.tfevents.1694429489.Jack-s-computer-Dell.26784.3
任务2/输出的数据/logs-0911-V2/events.out.tfevents.1694425268.Jack-s-computer-Dell.26784.0
任务2/输出的数据/logs-0911-only-LeNet/events.out.tfevents.1694432166.Jack-s-computer-Dell.26784.4
任务2/输出的数据/logs-MLP-RL/events.out.tfevents.1694445430.Jack-s-computer-Dell.28700.4
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.1.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.2.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.3.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.4.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.5.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.6.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.7.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.8.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.9.pth
任务2/输出的数据/保存参数/常规/model_scale=0.1.pth
任务2/输出的数据/保存参数/常规/model_scale=0.2.pth
任务2/输出的数据/保存参数/常规/model_scale=0.3.pth
任务2/输出的数据/保存参数/常规/model_scale=0.4.pth
任务2/输出的数据/保存参数/常规/model_scale=0.5.pth
任务2/输出的数据/保存参数/常规/model_scale=0.6.pth
任务2/输出的数据/保存参数/常规/model_scale=0.7.pth
任务2/输出的数据/保存参数/常规/model_scale=0.8.pth
任务2/输出的数据/保存参数/常规/model_scale=0.9.pth
任务2/输出的数据/保留图片/1.png
任务2/输出的数据/保留图片/1测试集中的最佳准确率和rank之间的关系.png
任务2/输出的数据/保留图片/2.png
任务2/输出的数据/保留图片/3.png
任务2/输出的数据/保留图片/4.png
任务2/输出的数据/保留图片/5.png
任务2/输出的数据/保留图片/6.png
任务2/输出的数据/保留图片/7.png
任务2/输出的数据/保留图片/8.png
任务2/输出的数据/保留图片/9.png
任务2/输出的数据/保留图片/10.png
任务2/输出的数据/保留图片/0907结果.pptx
任务2/输出的数据/保留图片/测试集中的最佳准确率和rank之间的关系.png
任务2/输出的数据/保留图片/加载数据.png
任务2/输出的数据/保留图片/加载数据.svg
任务2/输出的数据/保留图片/优化器.png
任务2/输出的数据/保留图片/combined_plot.png
任务2/输出的数据/保留图片/rank.png
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.1.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.2.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.3.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.4.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.5.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.6.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.7.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.8.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.9.pth
寻找高效的网络/logs-0911/events.out.tfevents.1694502902.Jack-s-computer-Dell.32772.0
寻找高效的网络/logs-0911/events.out.tfevents.1694503848.Jack-s-computer-Dell.32772.1
寻找高效的网络/logs-0911/events.out.tfevents.1694503860.Jack-s-computer-Dell.32772.2
寻找高效的网络/logs-0911/events.out.tfevents.1694503948.Jack-s-computer-Dell.32772.4
寻找高效的网络/logs-0911/events.out.tfevents.1694510033.Jack-s-computer-Dell.32772.6
寻找高效的网络/logs-0911/events.out.tfevents.1694511647.Jack-s-computer-Dell.29440.0
寻找高效的网络/logs-0911/events.out.tfevents.1694514098.Jack-s-computer-Dell.29440.2
寻找高效的网络/logs-0911/events.out.tfevents.1694515213.Jack-s-computer-Dell.29440.4
寻找高效的网络/logs-0911/events.out.tfevents.1694503939.Jack-s-computer-Dell.32772.3
寻找高效的网络/logs-0911/events.out.tfevents.1694506838.Jack-s-computer-Dell.32772.5
.gitignore
寻找高效的网络/logs-0911/events.out.tfevents.1694513478.Jack-s-computer-Dell.29440.1
寻找高效的网络/logs-0911/events.out.tfevents.1694515295.Jack-s-computer-Dell.29440.5
寻找高效的网络/logs-0911/events.out.tfevents.1694511462.Jack-s-computer-Dell.32772.7
寻找高效的网络/logs-0911/events.out.tfevents.1694514905.Jack-s-computer-Dell.29440.3
.gitignore
寻找高效的网络/logs-MLP/events.out.tfevents.1694515365.Jack-s-computer-Dell.34484.1
寻找高效的网络/support_code/__pycache__/get_rank_cpu_0904.cpython-311.pyc
寻找高效的网络/support_code/__pycache__/MLP.cpython-311.pyc
寻找高效的网络/support_code/__pycache__/scale_ranks.cpython-311.pyc
寻找高效的网络/support_code/__pycache__/load_dataset.cpython-311.pyc
寻找高效的网络/modified_file.xlsx
寻找高效的网络/rank_out.xlsx
寻找高效的网络/output/output.png
寻找高效的网络/logs-0911/events.out.tfevents.1694516034.Jack-s-computer-Dell.29440.6
寻找高效的网络/logs-MLP/events.out.tfevents.1694515562.Jack-s-computer-Dell.34484.2
寻找高效的网络/LP-RL-model_scale=0.1.pth
寻找高效的网络/LP-RL-model_scale=0.2.pth
寻找高效的网络/LP-RL-model_scale=0.3.pth
寻找高效的网络/LP-RL-model_scale=0.4.pth
寻找高效的网络/LP-RL-model_scale=0.5.pth
寻找高效的网络/LP-RL-model_scale=0.6.pth
寻找高效的网络/LP-RL-model_scale=0.7.pth
寻找高效的网络/LP-RL-model_scale=0.8.pth
寻找高效的网络/LP-RL-model_scale=0.9.pth
寻找高效的网络/output-0912-MLP/LP-RL-model_scale=0.1.pth
寻找高效的网络/output-0912-MLP/LP-RL-model_scale=0.2.pth
寻找高效的网络/output-0912-MLP/LP-RL-model_scale=0.4.pth
寻找高效的网络/output-0912-MLP/LP-RL-model_scale=0.3.pth
寻找高效的网络/output-0912-MLP/LP-RL-model_scale=0.5.pth
寻找高效的网络/output-0912-MLP/LP-RL-model_scale=0.6.pth
寻找高效的网络/output-0912-MLP/LP-RL-model_scale=0.7.pth
寻找高效的网络/output-0912-MLP/LP-RL-model_scale=0.8.pth
寻找高效的网络/output-0912-MLP/LP-RL-model_scale=0.9.pth
寻找高效的网络/output-0912-MLP/output.png
寻找高效的网络/output-0912-MLP/rank_out.xlsx
寻找高效的网络/结果总结-0913.pptx
.gitignore
寻找高效的网络/logs-MLP/scale=0.1.pth
寻找高效的网络/logs-MLP/scale=0.2.pth
寻找高效的网络/logs-MLP/scale=0.3.pth
寻找高效的网络/logs-MLP/scale=0.4.pth
寻找高效的网络/logs-MLP/scale=0.6.pth
寻找高效的网络/logs-MLP/scale=0.7.pth
寻找高效的网络/logs-MLP/scale=0.5.pth
寻找高效的网络/logs-MLP/scale=0.8.pth
寻找高效的网络/logs-MLP/scale=0.9.pth
寻找高效的网络/scale_1/events.out.tfevents.1694597098.Jack-s-computer-Dell.16768.0
寻找高效的网络/scale_1/dic_scale_1.pkl
寻找高效的网络/scale_1/scale=1.0.pth
寻找高效的网络/scale_1_512/dic_scale_512.pkl
寻找高效的网络/scale_1_512/events.out.tfevents.1694603625.Jack-s-computer-Dell.34104.2
寻找高效的网络/scale_1_512/scale=1.0-512.pth
寻找高效的网络/保存模型_MLP_09013/events.out.tfevents.1694582963.Jack-s-computer-Dell.29332.5
寻找高效的网络/保存模型_MLP_09013/my_list_MLP_0913.pkl
.gitignore
寻找高效的网络/没有波动/train_1.csv
寻找高效的网络/没有波动/train_1.png
寻找高效的网络/没有波动/valid_1.csv
寻找高效的网络/观察准确率变化/观察valid中最大准确率的变化.png
寻找高效的网络/没有波动/valid_1.png
寻找高效的网络/观察准确率变化/combined_plot.png
寻找高效的网络/观察准确率变化/train_0.1.csv
寻找高效的网络/观察准确率变化/train_0.1.png
寻找高效的网络/观察准确率变化/train_0.2.csv
寻找高效的网络/观察准确率变化/train_0.4.csv
寻找高效的网络/观察准确率变化/train_0.2.png
寻找高效的网络/观察准确率变化/train_0.4.png
寻找高效的网络/观察准确率变化/train_0.6.csv
寻找高效的网络/观察准确率变化/train_0.6.png
寻找高效的网络/观察准确率变化/train_0.7.csv
寻找高效的网络/观察准确率变化/train_0.7.png
寻找高效的网络/观察准确率变化/train_0.8.csv
寻找高效的网络/观察准确率变化/train_0.8.png
寻找高效的网络/观察准确率变化/train_0.9.csv
寻找高效的网络/观察准确率变化/train_0.9.png
寻找高效的网络/观察准确率变化/trian_0.3.csv
寻找高效的网络/观察准确率变化/trian_0.3.png
寻找高效的网络/观察准确率变化/trian_0.5.csv
寻找高效的网络/观察准确率变化/trian_0.5.png
寻找高效的网络/观察准确率变化/valid_0.1.csv
寻找高效的网络/观察准确率变化/valid_0.1.png
寻找高效的网络/观察准确率变化/valid_0.2.csv
寻找高效的网络/观察准确率变化/valid_0.2.png
寻找高效的网络/观察准确率变化/valid_0.3.csv
寻找高效的网络/观察准确率变化/valid_0.3.png
寻找高效的网络/观察准确率变化/valid_0.4.csv
寻找高效的网络/观察准确率变化/valid_0.4.png
寻找高效的网络/观察准确率变化/valid_0.5.csv
寻找高效的网络/观察准确率变化/valid_0.5.png
寻找高效的网络/观察准确率变化/valid_0.6.csv
寻找高效的网络/观察准确率变化/valid_0.6.png
寻找高效的网络/观察准确率变化/valid_0.7.csv
寻找高效的网络/观察准确率变化/valid_0.7.png
寻找高效的网络/观察准确率变化/valid_0.8.csv
寻找高效的网络/观察准确率变化/valid_0.8.png
寻找高效的网络/观察准确率变化/valid_0.9.csv
寻找高效的网络/观察准确率变化/valid_0.9.png
寻找高效的网络/观察波动/train_1.csv
寻找高效的网络/观察波动/train_1.png
寻找高效的网络/观察波动/valid_1.csv
寻找高效的网络/观察波动/valid_1.png
寻找高效的网络/logs-LeNet-0913/events.out.tfevents.1694618200.Jack-s-computer-Dell.29116.2
寻找高效的网络/support_code/__pycache__/LeNet.cpython-311.pyc
寻找高效的网络/logs-LeNet-0913/观察valid中最大准确率的变化.png
寻找高效的网络/logs-LeNet-0913/dic_scale_512.pkl
寻找高效的网络/logs-LeNet-0913/scale=0.1.pth
寻找高效的网络/logs-LeNet-0913/scale=0.2.pth
寻找高效的网络/logs-LeNet-0913/scale=0.3.pth
寻找高效的网络/logs-LeNet-0913/scale=0.4.pth
寻找高效的网络/logs-LeNet-0913/scale=0.5.pth
寻找高效的网络/logs-LeNet-0913/scale=0.6.pth
寻找高效的网络/logs-LeNet-0913/scale=0.7.pth
寻找高效的网络/logs-LeNet-0913/scale=0.8.pth
寻找高效的网络/logs-LeNet-0913/scale=0.9.pth
寻找高效的网络/logs-LeNet-0913/train_0.2.csv
寻找高效的网络/logs-LeNet-0913/train_0.2.png
寻找高效的网络/logs-LeNet-0913/train_0.3.csv
寻找高效的网络/logs-LeNet-0913/train_0.3.png
寻找高效的网络/logs-LeNet-0913/train_0.4.csv
寻找高效的网络/logs-LeNet-0913/train_0.4.png
寻找高效的网络/logs-LeNet-0913/train_0.5.csv
寻找高效的网络/logs-LeNet-0913/train_0.5.png
寻找高效的网络/logs-LeNet-0913/train_0.6.csv
寻找高效的网络/logs-LeNet-0913/train_0.6.png
寻找高效的网络/logs-LeNet-0913/train_0.7.csv
寻找高效的网络/logs-LeNet-0913/train_0.7.png
寻找高效的网络/logs-LeNet-0913/train_0.8.csv
寻找高效的网络/logs-LeNet-0913/train_0.8.png
寻找高效的网络/logs-LeNet-0913/train_0.9.csv
寻找高效的网络/logs-LeNet-0913/train_0.9.png
寻找高效的网络/logs-LeNet-0913/trian_0.1.png
寻找高效的网络/logs-LeNet-0913/trian_0.1.csv
寻找高效的网络/logs-LeNet-0913/valid_0.1.csv
寻找高效的网络/logs-LeNet-0913/valid_0.1.png
寻找高效的网络/logs-LeNet-0913/valid_0.2.png
寻找高效的网络/logs-LeNet-0913/valid_0.3.csv
寻找高效的网络/logs-LeNet-0913/valid_0.2.csv
寻找高效的网络/logs-LeNet-0913/valid_0.3.png
寻找高效的网络/logs-LeNet-0913/valid_0.4.csv
寻找高效的网络/logs-LeNet-0913/valid_0.5.csv
寻找高效的网络/logs-LeNet-0913/valid_0.5.png
寻找高效的网络/logs-LeNet-0913/valid_0.4.png
寻找高效的网络/logs-LeNet-0913/valid_0.6.csv
寻找高效的网络/logs-LeNet-0913/valid_0.6.png
寻找高效的网络/logs-LeNet-0913/valid_0.7.csv
寻找高效的网络/logs-LeNet-0913/valid_0.7.png
寻找高效的网络/logs-LeNet-0913/valid_0.8.csv
寻找高效的网络/logs-LeNet-0913/valid_0.8.png
寻找高效的网络/logs-LeNet-0913/valid_0.9.csv
寻找高效的网络/logs-LeNet-0913/valid_0.9.png
寻找高效的网络/output-0912-MLP/output2.png
寻找高效的网络/logs-ReLeNet-0914/观察valid中最大准确率的变化.png
寻找高效的网络/logs-ReLeNet-0914/combined_plot.png
寻找高效的网络/logs-ReLeNet-0914/dic_ReLeNet.pkl
寻找高效的网络/logs-ReLeNet-0914/events.out.tfevents.1694683287.Jack-s-computer-Dell.728.1
寻找高效的网络/logs-ReLeNet-0914/scale=0.1.pth
寻找高效的网络/logs-ReLeNet-0914/scale=0.2.pth
寻找高效的网络/logs-ReLeNet-0914/scale=0.3.pth
寻找高效的网络/logs-ReLeNet-0914/scale=0.4.pth
寻找高效的网络/logs-ReLeNet-0914/scale=0.5.pth
寻找高效的网络/logs-ReLeNet-0914/scale=0.6.pth
寻找高效的网络/logs-ReLeNet-0914/scale=0.7.pth
寻找高效的网络/logs-ReLeNet-0914/scale=0.8.pth
寻找高效的网络/logs-ReLeNet-0914/scale=0.9.pth
寻找高效的网络/logs-ReLeNet-0914/train_0.1.csv
寻找高效的网络/logs-ReLeNet-0914/train_0.2.csv
寻找高效的网络/logs-ReLeNet-0914/train_0.1.png
寻找高效的网络/logs-ReLeNet-0914/train_0.3.csv
寻找高效的网络/logs-ReLeNet-0914/train_0.2.png
寻找高效的网络/logs-ReLeNet-0914/train_0.3.png
寻找高效的网络/logs-ReLeNet-0914/train_0.4.csv
寻找高效的网络/logs-ReLeNet-0914/train_0.4.png
寻找高效的网络/logs-ReLeNet-0914/train_0.5.csv
寻找高效的网络/logs-ReLeNet-0914/train_0.5.png
寻找高效的网络/logs-ReLeNet-0914/train_0.6.csv
寻找高效的网络/logs-ReLeNet-0914/train_0.6.png
寻找高效的网络/logs-ReLeNet-0914/train_0.7.csv
寻找高效的网络/logs-ReLeNet-0914/train_0.7.png
寻找高效的网络/logs-ReLeNet-0914/train_0.8.csv
寻找高效的网络/logs-ReLeNet-0914/train_0.8.png
寻找高效的网络/logs-ReLeNet-0914/train_0.9.csv
寻找高效的网络/logs-ReLeNet-0914/train_0.9.png
寻找高效的网络/logs-ReLeNet-0914/valid_0.1.csv
寻找高效的网络/logs-ReLeNet-0914/valid_0.1.png
寻找高效的网络/logs-ReLeNet-0914/valid_0.2.csv
寻找高效的网络/logs-ReLeNet-0914/valid_0.2.png
寻找高效的网络/logs-ReLeNet-0914/valid_0.3.csv
寻找高效的网络/logs-ReLeNet-0914/valid_0.3.png
寻找高效的网络/logs-ReLeNet-0914/valid_0.4.csv
寻找高效的网络/logs-ReLeNet-0914/valid_0.4.png
寻找高效的网络/logs-ReLeNet-0914/valid_0.5.csv
寻找高效的网络/logs-ReLeNet-0914/valid_0.5.png
寻找高效的网络/logs-ReLeNet-0914/valid_0.6.csv
寻找高效的网络/logs-ReLeNet-0914/valid_0.6.png
寻找高效的网络/logs-ReLeNet-0914/valid_0.7.csv
寻找高效的网络/logs-ReLeNet-0914/valid_0.7.png
寻找高效的网络/logs-ReLeNet-0914/valid_0.8.csv
寻找高效的网络/logs-ReLeNet-0914/valid_0.8.png
寻找高效的网络/logs-ReLeNet-0914/valid_0.9.csv
寻找高效的网络/logs-ReLeNet-0914/valid_0.9.png
寻找高效的网络/ppt-image/结果总结-0913.pptx
寻找高效的网络/ppt-image/LeNet.png
寻找高效的网络/ppt-image/ReLeNet.png
寻找高效的网络/ReLeNet_1/events.out.tfevents.1694682838.Jack-s-computer-Dell.34916.3
寻找高效的网络/support_code/__pycache__/draw_accuracy.cpython-311.pyc
寻找高效的网络/support_code/__pycache__/ReLeNet.cpython-311.pyc
