任务2/保存参数,
任务2/保留图片
任务2/logs
任务2/.tmp.drivedownload
任务2/__pycache__
任务2/保留图片/1.png
任务2/保留图片/2.png
任务2/保留图片/3.png
任务2/保留图片/4.png
任务2/保留图片/5.png
任务2/保留图片/6.png
任务2/保留图片/7.png
任务2/保留图片/8.png
任务2/保留图片/9.png
任务2/保留图片/10.png
任务2/保存参数/model_scale=0.1.pth
任务2/保存参数/model_scale=0.2.pth
任务2/保存参数/model_scale=0.3.pth
任务2/保存参数/model_scale=0.4.pth
任务2/保存参数/model_scale=0.5.pth
任务2/保存参数/model_scale=0.6.pth
任务2/保存参数/model_scale=0.7.pth
任务2/保存参数/model_scale=0.8.pth
任务2/保存参数/model_scale=0.9.pth
任务2/.tmp.drivedownload/2823.1693786785195094
任务2/.tmp.drivedownload/2823.1693786838706976
任务2/.tmp.drivedownload/2823.1693786876580292
任务2/.tmp.drivedownload/2823.1693786932753482
任务2/.tmp.drivedownload/2823.1693786953697958
任务2/.tmp.drivedownload/2823.1693788505674698
任务2/.tmp.drivedownload/2823.1693788607578410
任务2/.tmp.drivedownload/2823.1693788633923886
任务2/.tmp.drivedownload/2823.1693788696050524
任务2/.tmp.drivedownload/2823.1693788792346026
任务2/.tmp.drivedownload/2823.1693788829484645
任务2/.tmp.drivedownload/2823.1693788901458399
任务2/.tmp.drivedownload/2823.1693788961397796
任务2/.tmp.drivedownload/2823.1693789015910835
任务2/.tmp.drivedownload/2823.1693789078780822
任务2/.tmp.drivedownload/2823.1693789117253960
任务2/.tmp.drivedownload/2823.1693789213444552
任务2/.tmp.drivedownload/2823.1693789274211967
任务2/.tmp.drivedownload/2823.1693789392571921
任务2/.tmp.drivedownload/2823.1693789801164422
任务2/.tmp.drivedownload/2823.1693790039732173
任务2/.tmp.drivedownload/2823.1693790071358674
任务2/.tmp.drivedownload/2823.1693790093369511
任务2/.tmp.drivedownload/2823.1693790161076815
任务2/.tmp.drivedownload/2823.1693790203064201
任务2/.tmp.drivedownload/2823.1693790288498889
任务2/.tmp.drivedownload/2823.1693790337625649
任务2/.tmp.drivedownload/2823.1693790360311635
任务2/.tmp.drivedownload/2823.1693791420160951
任务2/.tmp.drivedownload/2823.1693791645201896
任务2/.tmp.drivedownload/2823.1693804163948895
任务2/.tmp.drivedownload/2823.1693804368050422
任务2/.tmp.drivedownload/2823.1693804429240996
任务2/.tmp.drivedownload/2823.1693804571913670
任务2/.tmp.drivedownload/2823.1693805344804562
任务2/.tmp.drivedownload/2823.1693805518275151
任务2/.tmp.drivedownload/2823.1693805576423198
任务2/.tmp.drivedownload/2823.1693806020480349
任务2/.tmp.drivedownload/2823.1693806079713404
任务2/.tmp.drivedownload/2823.1693806113805511
任务2/.tmp.drivedownload/2823.1693807206712250
任务2/.tmp.drivedownload/2823.1693807464163649
任务2/__pycache__/get_rank_cpu_0904.cpython-310.pyc
任务2/__pycache__/get_rank_cpu_0904.cpython-311.pyc
任务2/__pycache__/get_rank_cpu.cpython-310.pyc
任务2/__pycache__/get_rank_gpu.cpython-310.pyc
任务2/__pycache__/load_dataset.cpython-311.pyc
任务2/logs/events.out.tfevents.1693970004.Jack-s-computer-Dell.16864.2
任务2/dataset_folder/cifar-10-python.tar.gz
任务2/logs-0911-LeNet/events.out.tfevents.1694429489.Jack-s-computer-Dell.26784.3
任务2/logs-0911-V2/events.out.tfevents.1694425268.Jack-s-computer-Dell.26784.0
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.1.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.2.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.3.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.4.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.5.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.6.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.7.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.8.pth
任务2/输出的数据/MLP-rl/LP-RL-model_scale=0.9.pth
任务2/输出的数据/logs/0.1.csv
任务2/输出的数据/logs/0.2.csv
任务2/输出的数据/logs/0.3.csv
任务2/输出的数据/logs/0.4.csv
任务2/输出的数据/logs/0.5.csv
任务2/输出的数据/logs/0.6.csv
任务2/输出的数据/logs/0.7.csv
任务2/输出的数据/logs/combined_plot.png
任务2/输出的数据/logs/events.out.tfevents.1693970004.Jack-s-computer-Dell.16864.2
任务2/输出的数据/logs/events.out.tfevents.1694083421.Jack-s-computer-Dell.11172.0
任务2/输出的数据/logs-0911-LeNet/events.out.tfevents.1694429489.Jack-s-computer-Dell.26784.3
任务2/输出的数据/logs-0911-V2/events.out.tfevents.1694425268.Jack-s-computer-Dell.26784.0
任务2/输出的数据/logs-0911-only-LeNet/events.out.tfevents.1694432166.Jack-s-computer-Dell.26784.4
任务2/输出的数据/logs-MLP-RL/events.out.tfevents.1694445430.Jack-s-computer-Dell.28700.4
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.1.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.2.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.3.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.4.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.5.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.6.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.7.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.8.pth
任务2/输出的数据/保存参数/LeNet-失败/09-11-LeNet-model_scale=0.9.pth
任务2/输出的数据/保存参数/常规/model_scale=0.1.pth
任务2/输出的数据/保存参数/常规/model_scale=0.2.pth
任务2/输出的数据/保存参数/常规/model_scale=0.3.pth
任务2/输出的数据/保存参数/常规/model_scale=0.4.pth
任务2/输出的数据/保存参数/常规/model_scale=0.5.pth
任务2/输出的数据/保存参数/常规/model_scale=0.6.pth
任务2/输出的数据/保存参数/常规/model_scale=0.7.pth
任务2/输出的数据/保存参数/常规/model_scale=0.8.pth
任务2/输出的数据/保存参数/常规/model_scale=0.9.pth
任务2/输出的数据/保留图片/1.png
任务2/输出的数据/保留图片/1测试集中的最佳准确率和rank之间的关系.png
任务2/输出的数据/保留图片/2.png
任务2/输出的数据/保留图片/3.png
任务2/输出的数据/保留图片/4.png
任务2/输出的数据/保留图片/5.png
任务2/输出的数据/保留图片/6.png
任务2/输出的数据/保留图片/7.png
任务2/输出的数据/保留图片/8.png
任务2/输出的数据/保留图片/9.png
任务2/输出的数据/保留图片/10.png
任务2/输出的数据/保留图片/0907结果.pptx
任务2/输出的数据/保留图片/测试集中的最佳准确率和rank之间的关系.png
任务2/输出的数据/保留图片/加载数据.png
任务2/输出的数据/保留图片/加载数据.svg
任务2/输出的数据/保留图片/优化器.png
任务2/输出的数据/保留图片/combined_plot.png
任务2/输出的数据/保留图片/rank.png
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.1.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.2.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.3.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.4.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.5.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.6.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.7.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.8.pth
任务2/输出的数据/保存参数/MLP-rl/LP-RL-model_scale=0.9.pth
寻找高效的网络/logs-0911/events.out.tfevents.1694502902.Jack-s-computer-Dell.32772.0
寻找高效的网络/logs-0911/events.out.tfevents.1694503848.Jack-s-computer-Dell.32772.1
寻找高效的网络/logs-0911/events.out.tfevents.1694503860.Jack-s-computer-Dell.32772.2
寻找高效的网络/logs-0911/events.out.tfevents.1694503948.Jack-s-computer-Dell.32772.4
寻找高效的网络/logs-0911/events.out.tfevents.1694510033.Jack-s-computer-Dell.32772.6
寻找高效的网络/logs-0911/events.out.tfevents.1694511647.Jack-s-computer-Dell.29440.0
寻找高效的网络/logs-0911/events.out.tfevents.1694514098.Jack-s-computer-Dell.29440.2
寻找高效的网络/logs-0911/events.out.tfevents.1694515213.Jack-s-computer-Dell.29440.4
寻找高效的网络/logs-0911/events.out.tfevents.1694503939.Jack-s-computer-Dell.32772.3
寻找高效的网络/logs-0911/events.out.tfevents.1694506838.Jack-s-computer-Dell.32772.5
.gitignore
寻找高效的网络/logs-0911/events.out.tfevents.1694513478.Jack-s-computer-Dell.29440.1
寻找高效的网络/logs-0911/events.out.tfevents.1694515295.Jack-s-computer-Dell.29440.5
寻找高效的网络/logs-0911/events.out.tfevents.1694511462.Jack-s-computer-Dell.32772.7
寻找高效的网络/logs-0911/events.out.tfevents.1694514905.Jack-s-computer-Dell.29440.3
.gitignore
寻找高效的网络/logs-MLP/events.out.tfevents.1694515365.Jack-s-computer-Dell.34484.1
寻找高效的网络/support_code/__pycache__/get_rank_cpu_0904.cpython-311.pyc
寻找高效的网络/support_code/__pycache__/MLP.cpython-311.pyc
寻找高效的网络/support_code/__pycache__/scale_ranks.cpython-311.pyc
寻找高效的网络/support_code/__pycache__/load_dataset.cpython-311.pyc
寻找高效的网络/modified_file.xlsx
寻找高效的网络/rank_out.xlsx
寻找高效的网络/output/output.png
寻找高效的网络/logs-0911/events.out.tfevents.1694516034.Jack-s-computer-Dell.29440.6
寻找高效的网络/logs-MLP/events.out.tfevents.1694515562.Jack-s-computer-Dell.34484.2
寻找高效的网络/LP-RL-model_scale=0.1.pth
寻找高效的网络/LP-RL-model_scale=0.2.pth
寻找高效的网络/LP-RL-model_scale=0.3.pth
寻找高效的网络/LP-RL-model_scale=0.4.pth
寻找高效的网络/LP-RL-model_scale=0.5.pth
寻找高效的网络/LP-RL-model_scale=0.6.pth
寻找高效的网络/LP-RL-model_scale=0.7.pth
寻找高效的网络/LP-RL-model_scale=0.8.pth
寻找高效的网络/LP-RL-model_scale=0.9.pth
寻找高效的网络/output-0912-MLP/LP-RL-model_scale=0.1.pth
寻找高效的网络/output-0912-MLP/LP-RL-model_scale=0.2.pth
寻找高效的网络/output-0912-MLP/LP-RL-model_scale=0.4.pth
寻找高效的网络/output-0912-MLP/LP-RL-model_scale=0.3.pth
寻找高效的网络/output-0912-MLP/LP-RL-model_scale=0.5.pth
寻找高效的网络/output-0912-MLP/LP-RL-model_scale=0.6.pth
寻找高效的网络/output-0912-MLP/LP-RL-model_scale=0.7.pth
寻找高效的网络/output-0912-MLP/LP-RL-model_scale=0.8.pth
寻找高效的网络/output-0912-MLP/LP-RL-model_scale=0.9.pth
寻找高效的网络/output-0912-MLP/output.png
寻找高效的网络/output-0912-MLP/rank_out.xlsx
寻找高效的网络/结果总结-0913.pptx
.gitignore
寻找高效的网络/logs-MLP/scale=0.1.pth
寻找高效的网络/logs-MLP/scale=0.2.pth
寻找高效的网络/logs-MLP/scale=0.3.pth
寻找高效的网络/logs-MLP/scale=0.4.pth
寻找高效的网络/logs-MLP/scale=0.6.pth
寻找高效的网络/logs-MLP/scale=0.7.pth
寻找高效的网络/logs-MLP/scale=0.5.pth
寻找高效的网络/logs-MLP/scale=0.8.pth
寻找高效的网络/logs-MLP/scale=0.9.pth
寻找高效的网络/scale_1/events.out.tfevents.1694597098.Jack-s-computer-Dell.16768.0
寻找高效的网络/scale_1/dic_scale_1.pkl
寻找高效的网络/scale_1/scale=1.0.pth
寻找高效的网络/scale_1_512/dic_scale_512.pkl
寻找高效的网络/scale_1_512/events.out.tfevents.1694603625.Jack-s-computer-Dell.34104.2
寻找高效的网络/scale_1_512/scale=1.0-512.pth
寻找高效的网络/保存模型_MLP_09013/events.out.tfevents.1694582963.Jack-s-computer-Dell.29332.5
寻找高效的网络/保存模型_MLP_09013/my_list_MLP_0913.pkl
.gitignore
寻找高效的网络/没有波动/train_1.csv
寻找高效的网络/没有波动/train_1.png
寻找高效的网络/没有波动/valid_1.csv
寻找高效的网络/观察准确率变化/观察valid中最大准确率的变化.png
寻找高效的网络/没有波动/valid_1.png
寻找高效的网络/观察准确率变化/combined_plot.png
寻找高效的网络/观察准确率变化/train_0.1.csv
寻找高效的网络/观察准确率变化/train_0.1.png
寻找高效的网络/观察准确率变化/train_0.2.csv
寻找高效的网络/观察准确率变化/train_0.4.csv
寻找高效的网络/观察准确率变化/train_0.2.png
寻找高效的网络/观察准确率变化/train_0.4.png
寻找高效的网络/观察准确率变化/train_0.6.csv
寻找高效的网络/观察准确率变化/train_0.6.png
寻找高效的网络/观察准确率变化/train_0.7.csv
寻找高效的网络/观察准确率变化/train_0.7.png
寻找高效的网络/观察准确率变化/train_0.8.csv
寻找高效的网络/观察准确率变化/train_0.8.png
寻找高效的网络/观察准确率变化/train_0.9.csv
寻找高效的网络/观察准确率变化/train_0.9.png
寻找高效的网络/观察准确率变化/trian_0.3.csv
寻找高效的网络/观察准确率变化/trian_0.3.png
寻找高效的网络/观察准确率变化/trian_0.5.csv
寻找高效的网络/观察准确率变化/trian_0.5.png
寻找高效的网络/观察准确率变化/valid_0.1.csv
寻找高效的网络/观察准确率变化/valid_0.1.png
寻找高效的网络/观察准确率变化/valid_0.2.csv
寻找高效的网络/观察准确率变化/valid_0.2.png
寻找高效的网络/观察准确率变化/valid_0.3.csv
寻找高效的网络/观察准确率变化/valid_0.3.png
寻找高效的网络/观察准确率变化/valid_0.4.csv
寻找高效的网络/观察准确率变化/valid_0.4.png
寻找高效的网络/观察准确率变化/valid_0.5.csv
寻找高效的网络/观察准确率变化/valid_0.5.png
寻找高效的网络/观察准确率变化/valid_0.6.csv
寻找高效的网络/观察准确率变化/valid_0.6.png
寻找高效的网络/观察准确率变化/valid_0.7.csv
寻找高效的网络/观察准确率变化/valid_0.7.png
寻找高效的网络/观察准确率变化/valid_0.8.csv
寻找高效的网络/观察准确率变化/valid_0.8.png
寻找高效的网络/观察准确率变化/valid_0.9.csv
寻找高效的网络/观察准确率变化/valid_0.9.png
寻找高效的网络/观察波动/train_1.csv
寻找高效的网络/观察波动/train_1.png
寻找高效的网络/观察波动/valid_1.csv
寻找高效的网络/观察波动/valid_1.png
寻找高效的网络/logs-LeNet-0913/events.out.tfevents.1694618200.Jack-s-computer-Dell.29116.2
寻找高效的网络/support_code/__pycache__/LeNet.cpython-311.pyc
寻找高效的网络/logs-LeNet-0913/观察valid中最大准确率的变化.png
寻找高效的网络/logs-LeNet-0913/dic_scale_512.pkl
寻找高效的网络/logs-LeNet-0913/scale=0.1.pth
寻找高效的网络/logs-LeNet-0913/scale=0.2.pth
寻找高效的网络/logs-LeNet-0913/scale=0.3.pth
寻找高效的网络/logs-LeNet-0913/scale=0.4.pth
寻找高效的网络/logs-LeNet-0913/scale=0.5.pth
寻找高效的网络/logs-LeNet-0913/scale=0.6.pth
寻找高效的网络/logs-LeNet-0913/scale=0.7.pth
寻找高效的网络/logs-LeNet-0913/scale=0.8.pth
寻找高效的网络/logs-LeNet-0913/scale=0.9.pth
寻找高效的网络/logs-LeNet-0913/train_0.2.csv
寻找高效的网络/logs-LeNet-0913/train_0.2.png
寻找高效的网络/logs-LeNet-0913/train_0.3.csv
寻找高效的网络/logs-LeNet-0913/train_0.3.png
寻找高效的网络/logs-LeNet-0913/train_0.4.csv
寻找高效的网络/logs-LeNet-0913/train_0.4.png
寻找高效的网络/logs-LeNet-0913/train_0.5.csv
寻找高效的网络/logs-LeNet-0913/train_0.5.png
寻找高效的网络/logs-LeNet-0913/train_0.6.csv
寻找高效的网络/logs-LeNet-0913/train_0.6.png
寻找高效的网络/logs-LeNet-0913/train_0.7.csv
寻找高效的网络/logs-LeNet-0913/train_0.7.png
寻找高效的网络/logs-LeNet-0913/train_0.8.csv
寻找高效的网络/logs-LeNet-0913/train_0.8.png
寻找高效的网络/logs-LeNet-0913/train_0.9.csv
寻找高效的网络/logs-LeNet-0913/train_0.9.png
寻找高效的网络/logs-LeNet-0913/trian_0.1.png
寻找高效的网络/logs-LeNet-0913/trian_0.1.csv
寻找高效的网络/logs-LeNet-0913/valid_0.1.csv
寻找高效的网络/logs-LeNet-0913/valid_0.1.png
寻找高效的网络/logs-LeNet-0913/valid_0.2.png
寻找高效的网络/logs-LeNet-0913/valid_0.3.csv
寻找高效的网络/logs-LeNet-0913/valid_0.2.csv
寻找高效的网络/logs-LeNet-0913/valid_0.3.png
寻找高效的网络/logs-LeNet-0913/valid_0.4.csv
寻找高效的网络/logs-LeNet-0913/valid_0.5.csv
寻找高效的网络/logs-LeNet-0913/valid_0.5.png
寻找高效的网络/logs-LeNet-0913/valid_0.4.png
寻找高效的网络/logs-LeNet-0913/valid_0.6.csv
寻找高效的网络/logs-LeNet-0913/valid_0.6.png
寻找高效的网络/logs-LeNet-0913/valid_0.7.csv
寻找高效的网络/logs-LeNet-0913/valid_0.7.png
寻找高效的网络/logs-LeNet-0913/valid_0.8.csv
寻找高效的网络/logs-LeNet-0913/valid_0.8.png
寻找高效的网络/logs-LeNet-0913/valid_0.9.csv
寻找高效的网络/logs-LeNet-0913/valid_0.9.png
寻找高效的网络/output-0912-MLP/output2.png
寻找高效的网络/logs-ReLeNet-0914/观察valid中最大准确率的变化.png
寻找高效的网络/logs-ReLeNet-0914/combined_plot.png
寻找高效的网络/logs-ReLeNet-0914/dic_ReLeNet.pkl
寻找高效的网络/logs-ReLeNet-0914/events.out.tfevents.1694683287.Jack-s-computer-Dell.728.1
寻找高效的网络/logs-ReLeNet-0914/scale=0.1.pth
寻找高效的网络/logs-ReLeNet-0914/scale=0.2.pth
寻找高效的网络/logs-ReLeNet-0914/scale=0.3.pth
寻找高效的网络/logs-ReLeNet-0914/scale=0.4.pth
寻找高效的网络/logs-ReLeNet-0914/scale=0.5.pth
寻找高效的网络/logs-ReLeNet-0914/scale=0.6.pth
寻找高效的网络/logs-ReLeNet-0914/scale=0.7.pth
寻找高效的网络/logs-ReLeNet-0914/scale=0.8.pth
寻找高效的网络/logs-ReLeNet-0914/scale=0.9.pth
寻找高效的网络/logs-ReLeNet-0914/train_0.1.csv
寻找高效的网络/logs-ReLeNet-0914/train_0.2.csv
寻找高效的网络/logs-ReLeNet-0914/train_0.1.png
寻找高效的网络/logs-ReLeNet-0914/train_0.3.csv
寻找高效的网络/logs-ReLeNet-0914/train_0.2.png
寻找高效的网络/logs-ReLeNet-0914/train_0.3.png
寻找高效的网络/logs-ReLeNet-0914/train_0.4.csv
寻找高效的网络/logs-ReLeNet-0914/train_0.4.png
寻找高效的网络/logs-ReLeNet-0914/train_0.5.csv
寻找高效的网络/logs-ReLeNet-0914/train_0.5.png
寻找高效的网络/logs-ReLeNet-0914/train_0.6.csv
寻找高效的网络/logs-ReLeNet-0914/train_0.6.png
寻找高效的网络/logs-ReLeNet-0914/train_0.7.csv
寻找高效的网络/logs-ReLeNet-0914/train_0.7.png
寻找高效的网络/logs-ReLeNet-0914/train_0.8.csv
寻找高效的网络/logs-ReLeNet-0914/train_0.8.png
寻找高效的网络/logs-ReLeNet-0914/train_0.9.csv
寻找高效的网络/logs-ReLeNet-0914/train_0.9.png
寻找高效的网络/logs-ReLeNet-0914/valid_0.1.csv
寻找高效的网络/logs-ReLeNet-0914/valid_0.1.png
寻找高效的网络/logs-ReLeNet-0914/valid_0.2.csv
寻找高效的网络/logs-ReLeNet-0914/valid_0.2.png
寻找高效的网络/logs-ReLeNet-0914/valid_0.3.csv
寻找高效的网络/logs-ReLeNet-0914/valid_0.3.png
寻找高效的网络/logs-ReLeNet-0914/valid_0.4.csv
寻找高效的网络/logs-ReLeNet-0914/valid_0.4.png
寻找高效的网络/logs-ReLeNet-0914/valid_0.5.csv
寻找高效的网络/logs-ReLeNet-0914/valid_0.5.png
寻找高效的网络/logs-ReLeNet-0914/valid_0.6.csv
寻找高效的网络/logs-ReLeNet-0914/valid_0.6.png
寻找高效的网络/logs-ReLeNet-0914/valid_0.7.csv
寻找高效的网络/logs-ReLeNet-0914/valid_0.7.png
寻找高效的网络/logs-ReLeNet-0914/valid_0.8.csv
寻找高效的网络/logs-ReLeNet-0914/valid_0.8.png
寻找高效的网络/logs-ReLeNet-0914/valid_0.9.csv
寻找高效的网络/logs-ReLeNet-0914/valid_0.9.png
寻找高效的网络/ppt-image/结果总结-0913.pptx
寻找高效的网络/ppt-image/LeNet.png
寻找高效的网络/ppt-image/ReLeNet.png
寻找高效的网络/ReLeNet_1/events.out.tfevents.1694682838.Jack-s-computer-Dell.34916.3
寻找高效的网络/support_code/__pycache__/draw_accuracy.cpython-311.pyc
寻找高效的网络/support_code/__pycache__/ReLeNet.cpython-311.pyc
LeNet/logs-LeNet-scale-9/events.out.tfevents.1695132927.Jack-s-computer-Dell.20556.8
LeNet/logs-LeNet-scale-9/scale=0.1.pth
LeNet/logs-LeNet-scale-9/scale=0.2.pth
LeNet/logs-LeNet-scale-9/scale=0.3.pth
LeNet/logs-LeNet-scale-9/scale=0.4.pth
LeNet/logs-LeNet-scale-9/scale=0.5.pth
LeNet/logs-LeNet-scale-9/scale=0.6.pth
LeNet/logs-LeNet-scale-9/scale=0.7.pth
LeNet/logs-LeNet-scale-9/scale=0.8.pth
LeNet/logs-LeNet-scale-9/scale=0.9.pth
LeNet/logs-LeNet-scale-9-0.1/events.out.tfevents.1695207982.Jack-s-computer-Dell.12036.2
LeNet/logs-LeNet-scale-9-20/events.out.tfevents.1695205911.Jack-s-computer-Dell.12036.1
LeNet/logs-LeNet-scale-9-20/scale=0.9.pth
LeNet/logs-LeNet-scale=0.1/events.out.tfevents.1695049756.Jack-s-computer-Dell.18328.2
LeNet/support_code/__pycache__/draw_accuracy.cpython-311.pyc
LeNet/support_code/__pycache__/get_rank_cpu_0904.cpython-311.pyc
LeNet/support_code/__pycache__/get_scale.cpython-311.pyc
LeNet/support_code/__pycache__/LeNet.cpython-311.pyc
LeNet/support_code/__pycache__/load_dataset.cpython-311.pyc
LeNet/support_code/__pycache__/MLP.cpython-311.pyc
LeNet/support_code/__pycache__/ReLeNet.cpython-311.pyc
LeNet/support_code/__pycache__/scale_ranks.cpython-311.pyc
LeNet/temp/梯度的更新发生在epoch/events.out.tfevents.1695122787.Jack-s-computer-Dell.20556.2
LeNet/temp/梯度的更新发生在epoch/scale=0.1.pth
寻找高效的网络/报告/ppt-image/LeNet.png
寻找高效的网络/报告/结果总结-0913.pptx
寻找高效的网络/报告/ppt-image/ReLeNet.png
LeNet/LeNet-0.1-0.9/events.out.tfevents.1695215746.Jack-s-computer-Dell.15100.1
LeNet/LeNet-0.1-0.9/scale=0.1.pth
LeNet/LeNet-0.1-0.9/scale=0.2.pth
LeNet/LeNet-0.1-0.9/scale=0.3.pth
LeNet/LeNet-0.1-0.9/scale=0.4.pth
LeNet/LeNet-0.1-0.9/scale=0.5.pth
LeNet/logs-LeNet-scale-9-0.1/scale=0.1.pth
LeNet/logs-LeNet-scale-9-1.0/events.out.tfevents.1695210464.Jack-s-computer-Dell.28100.0
LeNet/logs-LeNet-scale-9-1.0/events.out.tfevents.1695216035.Jack-s-computer-Dell.24284.0
LeNet/logs-LeNet-scale-9-1.0/scale=1.0.pth
.gitignore
LeNet/观察ranks/ranks_with_error_bars.png
LeNet/观察ranks/ranks单独.png
LeNet/观察ranks/ranks平均.png
ysc/LeNet-0.1-0.9/events.out.tfevents.1695260985.Jack-s-computer-Dell.10560.0
ysc/support_code/__pycache__/get_rank_cpu_0904.cpython-311.pyc
ysc/support_code/__pycache__/draw_accuracy.cpython-311.pyc
ysc/support_code/__pycache__/get_scale.cpython-311.pyc
ysc/support_code/__pycache__/load_dataset.cpython-311.pyc
ysc/support_code/__pycache__/LeNet.cpython-311.pyc
ysc/support_code/__pycache__/MLP.cpython-311.pyc
ysc/support_code/__pycache__/ReLeNet.cpython-311.pyc
ysc/support_code/__pycache__/scale_ranks.cpython-311.pyc
寻找高效的网络/报告/~$结果总结-0913.pptx
ysc/data/cifar-10-python.tar.gz
ysc/data/cifar-10-batches-py/batches.meta
ysc/data/cifar-10-batches-py/data_batch_1
ysc/data/cifar-10-batches-py/data_batch_2
ysc/data/cifar-10-batches-py/data_batch_3
ysc/data/cifar-10-batches-py/data_batch_4
ysc/data/cifar-10-batches-py/data_batch_5
ysc/data/cifar-10-batches-py/readme.html
ysc/data/cifar-10-batches-py/test_batch
ysc/data/dataset_folder/cifar-10-python.tar.gz
ysc/data/dataset_folder/cifar-10-batches-py/batches.meta
ysc/data/dataset_folder/cifar-10-batches-py/data_batch_1
ysc/data/dataset_folder/cifar-10-batches-py/data_batch_2
ysc/data/dataset_folder/cifar-10-batches-py/data_batch_3
ysc/data/dataset_folder/cifar-10-batches-py/data_batch_4
.gitignore
ysc/data/dataset_folder/cifar-10-batches-py/data_batch_5
ysc/data/dataset_folder/cifar-10-batches-py/readme.html
ysc/LeNet-0921-1029/events.out.tfevents.1695265241.Jack-s-computer-Dell.9912.0
ysc/data/dataset_folder/cifar-10-batches-py/test_batch
ysc/LeNet-0921-1029/events.out.tfevents.1695265243.Jack-s-computer-Dell.9912.1
ysc/LeNet-0921-1029/events.out.tfevents.1695266858.Jack-s-computer-Dell.9912.2
ysc/LeNet-0921-1029/events.out.tfevents.1695270195.Jack-s-computer-Dell.9912.4
ysc/LeNet-0921-1029/events.out.tfevents.1695272487.Jack-s-computer-Dell.36840.0
ysc/LeNet-0921-1029/events.out.tfevents.1695268517.Jack-s-computer-Dell.9912.3
ysc/LeNet-0921-1029/events.out.tfevents.1695271870.Jack-s-computer-Dell.9912.5
ysc/LeNet-0921-1029/events.out.tfevents.1695272488.Jack-s-computer-Dell.36840.1
ysc/LeNet-0921-1029/events.out.tfevents.1695272685.Jack-s-computer-Dell.39820.0
ysc/LeNet-0921-1029/events.out.tfevents.1695272714.Jack-s-computer-Dell.33208.0
ysc/LeNet-0921-1029/events.out.tfevents.1695272716.Jack-s-computer-Dell.33208.1
ysc/LeNet-0921-1029/events.out.tfevents.1695273477.Jack-s-computer-Dell.9912.6
ysc/LeNet-0921-1029/events.out.tfevents.1695275216.Jack-s-computer-Dell.9912.7
ysc/LeNet-0921-1029/events.out.tfevents.1695284833.Jack-s-computer-Dell.25836.1
ysc/LeNet-0921-1029/events.out.tfevents.1695284799.Jack-s-computer-Dell.25836.0
.gitignore
ysc/LeNet-0921-1029/events.out.tfevents.1695286145.Jack-s-computer-Dell.18872.0
ysc/LeNet-0921-1029/events.out.tfevents.1695286147.Jack-s-computer-Dell.18872.1
ysc/LeNet-0921-1029/events.out.tfevents.1695286670.Jack-s-computer-Dell.21236.0
ysc/LeNet-0921-1029/events.out.tfevents.1695286671.Jack-s-computer-Dell.21236.1
ysc/LeNet-0921-1657/events.out.tfevents.1695287427.Jack-s-computer-Dell.40652.0
ysc/LeNet-0921-1657/events.out.tfevents.1695287428.Jack-s-computer-Dell.40652.1
ysc/LeNet-0921-1657/events.out.tfevents.1695287397.Jack-s-computer-Dell.19192.0
.gitignore
ysc/support_code/__pycache__/CNN_cls.cpython-311.pyc
ysc/LeNet-0921-1657/events.out.tfevents.1695289629.Jack-s-computer-Dell.9144.0
ysc/LeNet-0921-1657/events.out.tfevents.1695289631.Jack-s-computer-Dell.9144.1
ysc/LeNet-0921-1905/events.out.tfevents.1695300435.Jack-s-computer-Dell.1120.0
ysc/LeNet-0921-1905/events.out.tfevents.1695300436.Jack-s-computer-Dell.1120.1
ysc/LeNet-0921-1905/events.out.tfevents.1695308565.Jack-s-computer-Dell.1120.2
ysc/LeNet-0921-1905/events.out.tfevents.1695316900.Jack-s-computer-Dell.1120.3
ysc/LeNet-0921-1905/events.out.tfevents.1695325231.Jack-s-computer-Dell.1120.4
ysc/LeNet-0921-1905/events.out.tfevents.1695333574.Jack-s-computer-Dell.1120.5
ysc/LeNet-0921-1905/events.out.tfevents.1695341923.Jack-s-computer-Dell.1120.6
ysc/LeNet-0921-1905/events.out.tfevents.1695350312.Jack-s-computer-Dell.1120.7
.gitignore
ysc/LeNet-0921-1905/events.out.tfevents.1695358629.Jack-s-computer-Dell.1120.8
ysc/LeNet-0921-1905/events.out.tfevents.1695367364.Jack-s-computer-Dell.1120.9
ysc/LeNet-0921-1905/events.out.tfevents.1695376333.Jack-s-computer-Dell.1120.10
ysc/LeNet-0921-1917/events.out.tfevents.1695300456.Jack-s-computer-Dell.13632.0
ysc/LeNet-0921-1917/events.out.tfevents.1695308851.Jack-s-computer-Dell.13632.2
ysc/LeNet-0921-1917/events.out.tfevents.1695300457.Jack-s-computer-Dell.13632.1
ysc/LeNet-0921-1917/events.out.tfevents.1695317417.Jack-s-computer-Dell.13632.3
ysc/LeNet-0921-1917/events.out.tfevents.1695325973.Jack-s-computer-Dell.13632.4
ysc/LeNet-0921-1917/events.out.tfevents.1695334536.Jack-s-computer-Dell.13632.5
ysc/LeNet-0921-1917/events.out.tfevents.1695343134.Jack-s-computer-Dell.13632.6
ysc/LeNet-0921-1917/events.out.tfevents.1695360429.Jack-s-computer-Dell.13632.8
ysc/LeNet-0921-1917/events.out.tfevents.1695369250.Jack-s-computer-Dell.13632.9
ysc/LeNet-0921-1917/events.out.tfevents.1695351713.Jack-s-computer-Dell.13632.7
ysc/LeNet-0921-1917/events.out.tfevents.1695378523.Jack-s-computer-Dell.13632.10
.gitignore
ysc/Ranks/ranks_with_error_bars.png
ysc/Ranks/ranks单独.png
ysc/Ranks/ranks平均.png
ysc/__pycache__/draw_accuracy.cpython-311.pyc
ysc/LeNet-0921-1917/csv/val0.1.csv
ysc/LeNet-0921-1917/csv/val0.2.csv
ysc/LeNet-0921-1917/csv/val0.3.csv
ysc/LeNet-0921-1917/csv/val0.4.csv
ysc/LeNet-0921-1917/csv/val0.5.csv
ysc/LeNet-0921-1917/csv/val0.6.csv
ysc/LeNet-0921-1917/csv/val0.7.csv
ysc/LeNet-0921-1917/csv/val0.8.csv
ysc/LeNet-0921-1917/csv/val0.9.csv
ysc/LeNet-0921-1917/csv/val1.0.csv
ysc/LeNet-0921-1917/img/combined_plot.png
ysc/LeNet-0921-1917/img/观察valid中最大准确率的变化.png
ysc/LeNet-0921-1917/img/val0.1.png
ysc/LeNet-0921-1917/img/val0.2.png
ysc/LeNet-0921-1917/img/val0.3.png
ysc/LeNet-0921-1917/img/val0.4.png
ysc/LeNet-0921-1917/img/val0.5.png
ysc/LeNet-0921-1917/img/val0.6.png
ysc/LeNet-0921-1917/img/val0.7.png
.gitignore
ysc/LeNet-0921-1917/img/val0.8.png
ysc/LeNet-0921-1917/img/val0.9.png
ysc/LeNet-0921-1917/img/val1.0.png
ysc/MLP-0921-1905/events.out.tfevents.1695300435.Jack-s-computer-Dell.1120.0
ysc/MLP-0921-1905/events.out.tfevents.1695308565.Jack-s-computer-Dell.1120.2
ysc/MLP-0921-1905/events.out.tfevents.1695300436.Jack-s-computer-Dell.1120.1
ysc/MLP-0921-1905/events.out.tfevents.1695316900.Jack-s-computer-Dell.1120.3
ysc/MLP-0921-1905/events.out.tfevents.1695333574.Jack-s-computer-Dell.1120.5
ysc/MLP-0921-1905/events.out.tfevents.1695325231.Jack-s-computer-Dell.1120.4
ysc/MLP-0921-1905/events.out.tfevents.1695341923.Jack-s-computer-Dell.1120.6
ysc/MLP-0921-1905/events.out.tfevents.1695358629.Jack-s-computer-Dell.1120.8
ysc/MLP-0921-1905/events.out.tfevents.1695350312.Jack-s-computer-Dell.1120.7
ysc/MLP-0921-1905/events.out.tfevents.1695367364.Jack-s-computer-Dell.1120.9
ysc/MLP-0921-1905/events.out.tfevents.1695376333.Jack-s-computer-Dell.1120.10
.gitignore
ysc/MLP-0921-1905/csv/val0.1.csv
ysc/MLP-0921-1905/csv/val0.3.csv
ysc/MLP-0921-1905/csv/val0.2.csv
ysc/MLP-0921-1905/csv/val0.4.csv
ysc/MLP-0921-1905/csv/val0.5.csv
ysc/MLP-0921-1905/csv/val0.6.csv
ysc/MLP-0921-1905/csv/val0.7.csv
ysc/MLP-0921-1905/csv/val0.9.csv
ysc/MLP-0921-1905/csv/val0.8.csv
ysc/MLP-0921-1905/csv/val1.0.csv
.gitignore
ysc/MLP-0921-1905/img/观察valid中最大准确率的变化.png
ysc/MLP-0921-1905/img/combined_plot.png
ysc/MLP-0921-1905/img/val0.2.png
ysc/MLP-0921-1905/img/val0.1.png
ysc/MLP-0921-1905/img/val0.3.png
ysc/MLP-0921-1905/img/val0.5.png
ysc/MLP-0921-1905/img/val0.4.png
ysc/MLP-0921-1905/img/val0.6.png
ysc/MLP-0921-1905/img/val0.7.png
ysc/MLP-0921-1905/img/val0.8.png
ysc/MLP-0921-1905/img/val0.9.png
ysc/MLP-0921-1905/img/val1.0.png
ysc/main.py
ysc/mainysc.py
ysc/ReLeNet2.ipynb
Success/__pycache__/draw_accuracy.cpython-311.pyc
Success/LeNet-0921-1917/events.out.tfevents.1695300456.Jack-s-computer-Dell.13632.0
Success/LeNet-0921-1917/events.out.tfevents.1695300457.Jack-s-computer-Dell.13632.1
Success/LeNet-0921-1917/events.out.tfevents.1695308851.Jack-s-computer-Dell.13632.2
Success/LeNet-0921-1917/events.out.tfevents.1695317417.Jack-s-computer-Dell.13632.3
Success/LeNet-0921-1917/events.out.tfevents.1695325973.Jack-s-computer-Dell.13632.4
Success/LeNet-0921-1917/events.out.tfevents.1695334536.Jack-s-computer-Dell.13632.5
Success/LeNet-0921-1917/events.out.tfevents.1695343134.Jack-s-computer-Dell.13632.6
Success/LeNet-0921-1917/events.out.tfevents.1695351713.Jack-s-computer-Dell.13632.7
Success/LeNet-0921-1917/events.out.tfevents.1695360429.Jack-s-computer-Dell.13632.8
Success/LeNet-0921-1917/events.out.tfevents.1695378523.Jack-s-computer-Dell.13632.10
Success/LeNet-0921-1917/events.out.tfevents.1695369250.Jack-s-computer-Dell.13632.9
Success/LeNet-0921-1917/csv/val0.1.csv
Success/LeNet-0921-1917/csv/val0.2.csv
Success/LeNet-0921-1917/csv/val0.3.csv
Success/LeNet-0921-1917/csv/val0.4.csv
Success/LeNet-0921-1917/csv/val0.5.csv
Success/LeNet-0921-1917/csv/val0.6.csv
Success/LeNet-0921-1917/csv/val0.7.csv
Success/LeNet-0921-1917/csv/val0.9.csv
Success/LeNet-0921-1917/csv/val0.8.csv
Success/LeNet-0921-1917/csv/val1.0.csv
.gitignore
Success/LeNet-0921-1917/img/观察valid中最大准确率的变化.png
Success/LeNet-0921-1917/img/combined_plot.png
Success/LeNet-0921-1917/img/val0.1.png
Success/LeNet-0921-1917/img/val0.2.png
Success/LeNet-0921-1917/img/val0.3.png
Success/LeNet-0921-1917/img/val0.4.png
Success/LeNet-0921-1917/img/val0.6.png
Success/LeNet-0921-1917/img/val0.5.png
Success/LeNet-0921-1917/img/val0.7.png
Success/LeNet-0921-1917/img/val0.8.png
Success/LeNet-0921-1917/img/val1.0.png
Success/LeNet-0921-1917/img/val0.9.png
Success/MLP-0921-1905/events.out.tfevents.1695300435.Jack-s-computer-Dell.1120.0
Success/MLP-0921-1905/events.out.tfevents.1695300436.Jack-s-computer-Dell.1120.1
Success/MLP-0921-1905/events.out.tfevents.1695308565.Jack-s-computer-Dell.1120.2
Success/MLP-0921-1905/events.out.tfevents.1695316900.Jack-s-computer-Dell.1120.3
Success/MLP-0921-1905/events.out.tfevents.1695333574.Jack-s-computer-Dell.1120.5
Success/MLP-0921-1905/events.out.tfevents.1695325231.Jack-s-computer-Dell.1120.4
Success/MLP-0921-1905/events.out.tfevents.1695341923.Jack-s-computer-Dell.1120.6
Success/MLP-0921-1905/events.out.tfevents.1695350312.Jack-s-computer-Dell.1120.7
Success/MLP-0921-1905/events.out.tfevents.1695358629.Jack-s-computer-Dell.1120.8
Success/MLP-0921-1905/events.out.tfevents.1695367364.Jack-s-computer-Dell.1120.9
Success/MLP-0921-1905/events.out.tfevents.1695376333.Jack-s-computer-Dell.1120.10
.gitignore
Success/MLP-0921-1905/csv/val0.1.csv
Success/MLP-0921-1905/csv/val0.2.csv
Success/MLP-0921-1905/csv/val0.3.csv
Success/MLP-0921-1905/csv/val0.4.csv
Success/MLP-0921-1905/csv/val0.5.csv
Success/MLP-0921-1905/csv/val0.6.csv
Success/MLP-0921-1905/csv/val0.7.csv
Success/MLP-0921-1905/csv/val0.8.csv
Success/MLP-0921-1905/csv/val0.9.csv
Success/MLP-0921-1905/csv/val1.0.csv
Success/MLP-0921-1905/img/观察valid中最大准确率的变化.png
Success/MLP-0921-1905/img/combined_plot.png
Success/MLP-0921-1905/img/val0.1.png
Success/MLP-0921-1905/img/val0.2.png
Success/MLP-0921-1905/img/val0.3.png
Success/MLP-0921-1905/img/val0.4.png
Success/MLP-0921-1905/img/val0.5.png
Success/MLP-0921-1905/img/val0.6.png
Success/MLP-0921-1905/img/val0.8.png
Success/MLP-0921-1905/img/val0.7.png
Success/MLP-0921-1905/img/val0.9.png
Success/MLP-0921-1905/img/val1.0.png
Success/Ranks/ranks_with_error_bars.png
Success/Ranks/ranks单独.png
Success/Ranks/ranks平均.png
Success/support_code/__pycache__/CNN_cls.cpython-311.pyc
Success/support_code/__pycache__/draw_accuracy.cpython-311.pyc
Success/support_code/__pycache__/get_rank_cpu_0904.cpython-311.pyc
Success/support_code/__pycache__/LeNet.cpython-311.pyc
Success/support_code/__pycache__/get_scale.cpython-311.pyc
Success/support_code/__pycache__/ReLeNet.cpython-311.pyc
Success/support_code/__pycache__/MLP.cpython-311.pyc
Success/support_code/__pycache__/load_dataset.cpython-311.pyc
Success/support_code/__pycache__/scale_ranks.cpython-311.pyc
